* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg.jpg");
  background-color: #c0e8df;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Montaga", serif;
  overscroll-behavior: none;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: inherit;
}

#smooth-content,
.intro-img,
.intro-headings,
.title,
.smooth-headings,
.smooth-text,
.projects-gallery-item,
.slider {
  will-change: transform;
}

#smooth-content {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  overflow-x: hidden;
}

.container {
  padding: 0 7vw;
}

.link {
  text-decoration: none;
  color: inherit;
}
