* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: "Montaga", serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: inherit;
}

.container {
  padding: 0 7vw;
}

.link {
  text-decoration: none;
  color: inherit;
}
