* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  color: #ffffff;
  font-family: "Montaga", serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: inherit;
}

.nav,
#img-first,
#img-second,
#img-third,
.intro-headings-name,
.intro-headings-title {
  will-change: transform;
}

.container {
  padding: 0 7vw;
}

.link {
  text-decoration: none;
  color: inherit;
}
