$index: calc(1vw + 1vh);
$gallery-gap: calc($index * 2);
$magenta-color: #963048;
$text-color: #403845;
$dark-color: #4b514f;
$laptop: 992px;
$tablet: 768px;
$mobile: 576px;

@mixin slide-header {
  position: absolute;
  font-weight: 500;
  font-size: calc($index * 6);
  color: #d2868e2b;
  left: 0;
}
