@import "vars";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/about";
@import "blocks/skills";
@import "blocks/projects";
@import "blocks/contact";
@import "blocks/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg.jpg");
  background-color: #c0e8df;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
}

.container {
  padding: 0 7vw;
}

// main {
//   flex-grow: 1;
// }

.hidden {
  position: absolute;
  left: -999999px;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: $laptop) {
  .center {
    padding: 0 10%;
  }
}

@media (max-width: $tablet) {
  .center {
    padding: 0 7%;
  }
}

@media (max-width: $mobile) {
  .center {
    padding: 0 5%;
  }
}
