@import "vars";
@import "main";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/about";
@import "blocks/skills";
@import "blocks/projects";
@import "blocks/hobbies";
@import "blocks/contact";
@import "blocks/footer";

@font-face {
  font-family: "Montaga";
  src: url("../fonts/Montaga-Regular.woff2") format("woff2"),
    url("../fonts/Montaga-Regular.woff") format("woff"),
    url("../fonts/Montaga-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
