@import "vars";
@import "blocks/header";
@import "blocks/main";
@import "blocks/footer";
@import "blocks/footer";
@import "blocks/intro";
@import "blocks/about";
@import "blocks/projects";
@import "blocks/contact";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// .hidden {
//   position: absolute;
//   left: -999999px;
//   width: 1px;
//   height: 1px;
//   opacity: 0;
// }

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.center {
  padding: 0 calc(50% - 490px);
}

.link {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $light-color;
    cursor: pointer;
    transition-duration: 0.4s;
  }
}

/* tablet классический адаптив

@media (max-width: 1180px) {
    .wrapper {
        width: 736px;
    }

    .center {
        padding: 0 calc(50% - 368px);
    }
}

mobile 

@media (max-width: 767px) {
    .wrapper {
        width: 345px;
    }

    .center {
        padding: 0 calc(50% - 172.5px);
    }
}
*/

// отзывчивый адаптив tablet

@media (max-width: $tablet) {
  // .wrapper {
  //   padding: 0 16px;
  // }

  .center {
    padding: 0 10%;
  }
}

@media (max-width: $mobile) {
  // .wrapper {
  //   padding: 0 8px;
  // }

  .center {
    padding: 0 5%;
  }
}
