$index: calc(1vw + 1vh);
$gallery-gap: calc($index * 2);
$magenta-color: #963048;
$white: #f7f1e1;
$blue: #6c92cc;
$dark-color: #403845;
$text-color: $white;

$laptop: 992px;
$tablet: 768px;
$mobile: 576px;

@mixin slide-header {
  position: absolute;
  font-weight: 500;
  font-size: calc($index * 6);
  color: #f7f1e134;
  left: 0;
}
