.footer {
  display: flex;
  flex-direction: column;
  background-color: $grey-color;
  justify-content: space-evenly;
  text-align: center;
  height: 120px;
  color: #ffffff;

  &-links {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    font-size: 1.5rem;
  }

  &-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;

    li {
      list-style: none;
    }
  }

  .fab {
    font-size: 1.5rem;
  }
}
