.about {
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: calc($gallery-gap * 3);
  padding-bottom: calc($gallery-gap * 3);

  .title {
    @include slide-header;
    top: calc($gallery-gap * 0.4);
  }

  &-text {
    color: $text-color;
    font-size: 1.3rem;
    line-height: 1.4;
  }
  span {
    display: block;
    margin-bottom: 15px;
  }

  @media (min-width: $tablet) {
    &-text {
      font-size: 1.5rem;
    }
  }

  @media (min-width: $laptop) {
    &-text {
      font-size: 1.7rem;
    }
  }
}
