.contact {
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $dark-color;
  margin-bottom: calc($gallery-gap * 4);

  &-title {
    @include slide-header;
    top: -13vh;
  }

  &-text {
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.5;
    color: #4b514f;
    margin-bottom: calc($gallery-gap * 2);
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 600px;

    &-input {
      padding: 20px;
      border: none;
      border-radius: 10px;
      font-size: 1.2rem;
      margin-bottom: 30px;
      color: inherit;
      font-family: inherit;

      &::placeholder {
        color: $light-color;
        opacity: 1;
      }
    }

    &-btn {
      width: 20%;
      height: 60px;
      align-self: center;
      text-align: center;
      border-radius: 8px;
      font-size: 1.2rem;
      border: none;
      background-color: #f2f3f394;
      color: $light-color;
      transition: 0.4s;
      font-family: inherit;

      &:hover {
        cursor: pointer;
        background-color: #ffffff;
      }
    }
  }

  @media (max-width: $laptop) {
    &-title {
      top: -10vh;
    }
  }

  @media (max-width: $tablet) {
    &-heading {
      font-size: 1.5rem;
    }

    &-text {
      font-size: 1.5rem;
    }

    &-form {
      width: 100%;

      &-input {
        font-size: 1rem;
      }

      &-btn {
        width: 80px;
        font-size: 1rem;
      }
    }
  }

  @media (max-width: $mobile) {
    &-title {
      top: -7vh;
    }

    &-text {
      font-size: 1.2rem;
    }
  }
}
