.contact {
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $text-color;
  padding-top: calc($gallery-gap * 3);
  padding-bottom: calc($gallery-gap * 3);

  .title {
    @include slide-header;
    top: calc($gallery-gap * 0.4);
  }

  &-text {
    text-align: center;
    font-size: 1.3rem;

    line-height: 1.5;
    color: $text-color;
    margin-bottom: calc($gallery-gap * 2);
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-input {
      padding: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
      font-size: 1rem;
      margin-bottom: 30px;
      color: $dark-color;
      font-family: inherit;

      &::placeholder {
        color: $dark-color;
        opacity: 1;
      }
    }

    &-btn {
      width: 80px;
      font-size: 1rem;
      height: 60px;
      align-self: center;
      text-align: center;
      border-radius: 4px;
      border: 1px solid transparent;
      background-color: #ffffff;

      color: $dark-color;
      font-family: inherit;

      transition: 0.4s ease-in-out;

      &:hover {
        cursor: pointer;
        background: $blue;

        color: #ffffff;
      }
    }
  }

  &-message {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;

    line-height: 2;
    color: #4b514f;
    text-align: center;
    opacity: 0;
    transform: translateY(400px);
  }

  @media (min-width: $tablet) {
    &-form {
      width: 600px;

      &-input {
        font-size: 1.2rem;
      }

      &-btn {
        width: 20%;
        font-size: 1.2rem;
      }
    }
  }

  @media (min-width: $laptop) {
    &-text {
      font-size: 1.7rem;
    }

    &-message {
      font-size: 2rem;
    }
  }
}
