.footer {
  display: flex;
  flex-direction: column;
  background-color: #c0e8df;
  background-image: url("../img/bg-dropdown.jpg");
  justify-content: space-evenly;
  text-align: center;
  height: 100px;
  color: $light-color;
  border-top: 1px solid #f2f3f394;

  &-links {
    display: flex;
    justify-content: space-between;

    a:hover {
      color: $dark-color;
    }
  }

  &-logo {
    font-size: 1.5rem;
  }

  &-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;

    li {
      list-style: none;
    }
  }

  .fab {
    font-size: 1.5rem;
  }
}
