.footer {
  display: flex;
  flex-direction: column;
  // background-color: $magenta-color;
  justify-content: space-evenly;
  text-align: center;
  height: 100px;
  color: #ffffff;

  &-links {
    display: flex;
    justify-content: space-between;

    a svg {
      vertical-align: bottom;
    }

    .footer-logo:hover {
      color: $blue;
    }

    a:hover {
      svg path {
        fill: $blue;
      }
    }
  }

  &-logo {
    font-size: 1.5rem;
  }

  &-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;

    li {
      list-style: none;
    }
  }
}
