.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
  color: $dark-color;

  &-logo {
    font-size: 1.5rem;
  }

  &-links {
    display: flex;
    justify-content: space-between;
    width: 300px;

    li {
      list-style: none;

      &:first-child {
        visibility: hidden;
      }
    }
  }

  &-link {
    font-size: 1rem;
  }

  #toggle {
    display: none;
  }

  .menu-btn {
    display: none;
    z-index: 3;

    &:hover {
      cursor: pointer;
    }

    svg {
      vertical-align: bottom;
    }
  }

  @media (max-width: 768px) {
    .menu-btn {
      display: block;

      path {
        transition-duration: 0.4s;
      }
    }

    .nav-links {
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      text-align: end;
      background-color: #3f798ff0;
      height: 100vh;
      width: 100%;
      z-index: 2;
      color: #ffffff;

      transform: translateY(-100%);

      li {
        &:first-child {
          visibility: visible;
        }
      }
    }

    #toggle:checked ~ .nav-links {
      visibility: visible;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      transform: translateY(0);
      transition: 0.6s;

      li {
        margin-bottom: 40px;
      }
    }

    #toggle:checked ~ .menu-btn path:nth-of-type(1) {
      transform: rotate(45deg);
      transform-origin: -1px 3px;
      fill: #ffffff;
    }

    #toggle:checked ~ .menu-btn path:nth-of-type(2) {
      display: none;
    }

    #toggle:checked ~ .menu-btn path:nth-of-type(3) {
      transform: rotate(-45deg);
      transform-origin: 0px 13px;
      fill: #ffffff;
    }
  }
}
