.hobbies {
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: calc($gallery-gap * 6);

  &-title {
    @include slide-header;
    top: -13vh;
  }

  &-text {
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.5;
    color: #4b514f;
    margin-bottom: calc($gallery-gap * 4);
  }

  .slider {
    position: relative;
    overflow: hidden;
    align-items: center;

    &-buttons {
      .slider-btn-previous,
      .slider-btn-next {
        position: absolute;
        top: 45%;
        background: none;
        color: #fafafa;
        font-size: 40px;
        border: none;
        z-index: 2;
        cursor: pointer;
      }

      .slider-btn-previous {
        left: 1vw;
      }

      .slider-btn-next {
        right: 0;
      }
    }

    &-images {
      display: flex;
      transition: transform 0.7s ease-in-out;
    }

    &-img {
      padding: 0 1vw;
      position: relative;

      img {
        width: 27vw;
        border-radius: 8px;
      }

      figcaption {
        opacity: 0;
        position: absolute;
        color: $dark-color;
        bottom: 2vh;
        background-color: #dceeeac7;
        border-radius: 5px;
        padding: 12px;
        left: 2vw;

        transition: all 0.5s ease-in-out;
        transform: translateY(50%);
      }

      &:hover {
        figcaption {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    @media (max-width: $tablet) {
      &-text {
        font-size: 1.5rem;
      }

      .slider {
        &-img {
          img {
            width: 85vw;
          }
        }
      }
    }

    @media (max-width: $mobile) {
      &-text {
        font-size: 1.2rem;
      }
    }
  }
}
