// .intro {
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;

//   &-headings {
//     color: $dark-color;
//     letter-spacing: 2px;
//     font-weight: 400;
//     margin-right: -60px;
//     z-index: 1;
//     animation: show 1.2s ease;

//     @keyframes show {
//       0% {
//         transform: scale(50%);
//         opacity: 0;
//       }
//       100% {
//         transform: scale(100%);
//         opacity: 1;
//       }
//     }

//     h3 {
//       color: $grey-color;
//       margin-top: 10px;
//     }
//   }

//   &-video {
//     width: 55%;
//     animation: show 1s ease;
//   }

//   @media (max-width: 1024px) {
//     min-height: 500px;

//     &-video {
//       width: 65%;
//     }
//   }

//   @media (max-width: $laptop) {
//     min-height: 400px;
//   }

//   @media (max-width: $tablet) {
//     flex-direction: column-reverse;
//     justify-content: space-evenly;
//     min-height: 300px;

//     &-headings {
//       text-align: center;
//       margin-right: 0;

//       h1 {
//         font-size: 1rem;
//       }
//       h3 {
//         font-size: 0.8rem;
//       }
//     }

//     &-video {
//       width: 100%;
//     }
//   }
// }
// .index_about {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   margin-bottom: 100px;
//   color: $grey-color;

//   p {
//     color: $dark-color;
//     margin-bottom: 30px;
//     font-size: 1.2rem;
//   }

//   @media (max-width: $mobile) {
//     p {
//       font-size: 1rem;
//     }
//     a {
//       font-size: 0.8rem;
//     }
//   }
// }

// .latest-projects {
//   margin-bottom: 90px;

//   &-heading {
//     margin: 60px 0;
//     font-weight: 400;
//   }

//   .all-btn {
//     color: $grey-color;
//     margin-bottom: 90px;
//   }
// }

// .index_contact {
//   min-height: 200px;
//   background-color: #f8d4bb26;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   text-align: center;

//   p {
//     color: $dark-color;
//     font-size: 1.2rem;
//     margin-bottom: 30px;
//   }

//   a {
//     color: $grey-color;
//   }

//   @media (max-width: $tablet) {
//     p {
//       font-size: 1rem;
//     }

//     a {
//       font-size: 0.8rem;
//     }
//   }
// }
.intro {
  &-img {
    width: calc($index * 45);
    position: absolute;
    left: 35vw;
    top: 0;
    z-index: -1;
  }

  &-headings {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20vh;

    &-name {
      font-size: calc($index * 4);
      // position: absolute;
      // width: min-content;
      // bottom: 10vh;
      line-height: 0.9;
    }

    &-title {
      font-size: calc($index * 3);
      // position: absolute;
      // width: max-content;
      // bottom: 12vh;
      // line-height: 1.1;
    }
  }
}
