.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  // Pantone’s Color of the Year 2023, Viva Magenta 18-1750
  background-color: #963048;
  padding: 0 7vw;
  overflow-x: hidden;

  &-content {
    position: relative;
    align-self: center;
    height: calc($index * 29);
    width: calc($index * 29);
  }

  &-img {
    img {
      display: flex;
      position: absolute;
      width: calc($index * 29);
      visibility: hidden;

      &:first-child {
        transform: rotate(-35deg);
        transform-origin: bottom left;
      }

      &:nth-child(2) {
        transform: rotate(35deg);
        transform-origin: bottom right;
      }

      &:last-child {
        transform: rotate(45deg);
        transform-origin: right;
      }

      border-radius: 4px;
    }
  }

  &-headings {
    &-name {
      width: calc($index * 29);
      text-align: center;
      position: absolute;
      left: calc($index * 3.5);
      bottom: 0;
      font-size: calc($index * 2);
      transform: rotate(-90deg);
      transform-origin: bottom left;
      z-index: 4;
    }

    &-title {
      width: calc($index * 29);
      text-align: center;
      position: absolute;
      right: calc($index * 3.5);
      bottom: 0;
      font-size: calc($index * 2);
      color: #000;
      transform: rotate(90deg);
      transform-origin: bottom right;
      z-index: 4;
    }
  }

  @media (min-width: $tablet) {
    &-content {
      height: calc($index * 25);
      width: calc($index * 25);
      align-self: center;
    }

    &-img {
      img {
        width: calc($index * 25);
      }
    }

    &-headings {
      &-name {
        width: calc($index * 25);
        left: calc($index * 3.2);
      }

      &-title {
        width: calc($index * 25);
        right: calc($index * 3.2);
      }
    }
  }

  @media (min-width: $laptop) {
    &-content {
      height: calc($index * 22);
      width: calc($index * 22);
      align-self: center;
    }

    &-img {
      img {
        width: calc($index * 22);
      }
    }

    &-headings {
      &-name {
        width: min-content;
        left: -26vw;
        top: 10vw;
        transform: none;
        letter-spacing: 0.2rem;
        text-align: left;
      }

      &-title {
        width: min-content;
        right: -26vw;
        bottom: 10vw;
        transform: none;
        letter-spacing: 0.2rem;
        text-align: right;
      }
    }
  }
}
