.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
  color: $dark-color;

  &-logo {
    font-size: 1.5rem;
  }

  &-links {
    display: flex;
    justify-content: space-between;
    width: 300px;

    li {
      list-style: none;
    }
  }

  &-link {
    font-size: 1rem;
  }
}
