.projects {
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: calc($gallery-gap * 4);

  &-title {
    @include slide-header;
    top: -13vh;
  }

  &-heading {
    text-align: center;
    color: $dark-color;
    font-size: 2.2rem;
    font-weight: 300;
  }

  &-gallery {
    display: flex;

    &-left > * {
      margin-top: calc($gallery-gap * 4);
    }

    &-left {
      .project-desc {
        text-align: left;

        li {
          margin-right: 20px;
        }
      }
    }

    &-right {
      .project-desc {
        margin: 0;
        margin-top: calc($gallery-gap * 8);
        align-items: flex-end;
        text-align: right;

        li {
          margin-left: 20px;
        }
      }

      figure {
        margin-top: calc($gallery-gap * 4);
      }
    }

    figure {
      max-width: calc($index * 21);
      max-height: 180vh;
      margin-bottom: $gallery-gap;
      border-radius: 8px;
      position: relative;
      overflow: hidden;

      transition: 0.5s;

      .project-image {
        transition: 0.5s;
        width: 100%;
        height: 100%;
        object-fit: scover;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        // background-color: #dceeeae3;
        background-color: #131615a3;
        // color: #2f3332;
        color: #fafafa;
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        opacity: 0;
        transition: 0.5s;
      }

      &:hover {
        transform: scale(0.9);
      }

      &:hover img {
        transform: scale(1.3);
      }

      &:hover .overlay {
        opacity: 1;
      }
    }
  }

  &-gallery > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  // .project-image {
  //   width: 100%;
  //   height: 100%;
  // }

  .project-desc {
    line-height: 1.2;
    font-size: 1.5rem;
    color: $dark-color;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-tools {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      color: $light-color;
      margin-top: 20px;
    }
  }

  .project-desc-mobile {
    display: none;
  }

  @media (max-width: $laptop) {
    &-title {
      top: -10vh;
    }

    .project-desc {
      font-size: 1.2rem;
    }
  }

  @media (max-width: $tablet) {
    &-heading {
      font-size: 1.7rem;
    }

    .projects-gallery {
      flex-direction: column;
    }

    &-right > * {
      margin-top: calc($gallery-gap * 4);
    }

    .project-desc {
      display: none;
    }

    figure {
      max-width: calc($index * 31);
    }
  }

  @media (max-width: $mobile) {
    &-title {
      top: -7vh;
    }
  }
}
