.projects {
  text-align: center;
  color: $dark-color;
  margin-bottom: 90px;

  h3 {
    margin-bottom: 60px;
  }

  ul {
    display: flex;
    list-style: none;
  }

  .project {
    width: 100%;

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;
    }

    &-image {
      max-width: 500px;
      position: relative;
      overflow: hidden;
      border: 1px solid #486f8033;
      transition: 0.5s;

      img {
        width: 100%;
        transition: 0.5s;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: #3f788fc8;
        color: #ffffff;
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        transition: 0.5s;

        &-text {
          margin-left: 40px;
        }
      }

      &:hover {
        transform: scale(0.9);
      }

      &:hover img {
        transform: scale(1.3);
      }

      &:hover .overlay {
        opacity: 1;
      }
    }

    &-desc {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      text-align: end;
      padding-left: 30px;

      &-tools {
        display: flex;
        list-style: none;
        color: $grey-color;
        margin-top: 20px;
        flex-wrap: wrap;

        li {
          margin-left: 20px;
        }
      }
    }
  }

  .all-btn {
    color: $grey-color;
  }

  @media (max-width: $laptop) {
    .project {
      &-image {
        max-width: 430px;
      }

      &-desc {
        max-width: 300px;
      }
    }
  }

  @media (max-width: $tablet) {
    h3 {
      font-size: 1.1rem;
    }

    .project {
      &-container {
        flex-direction: column;
      }

      &-image {
        max-width: 100%;
      }

      &-desc {
        max-width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        padding-left: 0;

        &-text {
          line-height: 1rem;
        }
      }
    }
  }
}
