.skills {
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: calc($gallery-gap * 3);
  padding-bottom: calc($gallery-gap * 3);

  .title {
    @include slide-header;
    top: calc($gallery-gap * 1.2);
  }

  &-list {
    list-style-type: none;
    columns: 2;
    font-size: 1.5rem;
    color: $text-color;
    z-index: 2;

    li {
      line-height: 1.5;
    }
  }

  @media (min-width: $tablet) {
    .title {
      top: calc($gallery-gap * 0.9);
    }

    &-list {
      font-size: 1.7rem;
    }
  }

  @media (min-width: $laptop) {
    &-list {
      columns: 3;
    }
  }
}
