.skills {
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: calc($gallery-gap * 3);
  padding-bottom: calc($gallery-gap * 3);

  .title {
    @include slide-header;
    top: 5vh;
  }

  &-list {
    list-style-type: none;
    columns: 3;
    font-size: 1.7rem;
    color: $text-color;
    z-index: 2;

    li {
      line-height: 1.5;
    }
  }

  @media (max-width: $tablet) {
    &-list {
      font-size: 1.5rem;
    }
  }

  @media (max-width: $mobile) {
    &-list {
      columns: 2;
    }
  }
}
