.skills {
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: calc($gallery-gap * 6);

  .title {
    @include slide-header;
    top: -13vh;
  }

  &-list {
    list-style-type: none;
    columns: 3;
    font-size: 1.7rem;
    color: #4b514f;
    li {
      line-height: 1.5;
    }
  }

  @media (max-width: $laptop) {
    &-title {
      top: -10vh;
    }
  }

  @media (max-width: $tablet) {
    &-list {
      font-size: 1.5rem;
    }
  }

  @media (max-width: $mobile) {
    // margin-bottom: calc($gallery-gap * 4);

    &-title {
      top: -7vh;
    }

    &-list {
      columns: 2;
    }
  }
}
