.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @keyframes show {
    0% {
      transform: scale(50%);
      opacity: 0;
    }
    100% {
      transform: scale(100%);
      opacity: 1;
    }
  }

  h3 {
    color: $grey-color;
    font-weight: 400;
  }

  &-img {
    width: 50%;
    animation: show 1s ease;
  }

  &-text {
    animation: show 1s ease;
    color: $dark-color;
    padding-left: 3%;
    padding-right: 10%;

    h3 {
      font-size: 2.2rem;
      color: inherit;
      margin-bottom: 50px;
      letter-spacing: 5px;
    }

    p {
      text-align: right;
      font-size: 1.2rem;
    }
  }

  @media (max-width: $laptop) {
    &-text {
      margin-top: 50px;

      h3 {
        font-size: 1.8rem;
        margin-bottom: 30px;
        letter-spacing: 3px;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: $tablet) {
    flex-direction: column;
    margin-bottom: 50px;

    &-img {
      width: 60%;
      align-self: flex-start;
    }

    &-text {
      width: 80%;
      align-self: flex-end;
      padding-left: 0;

      p {
        padding-left: 30px;
      }
    }
  }

  @media (max-width: $mobile) {
    &-img {
      width: 100%;
    }

    &-text {
      width: 100%;
      padding: 0 5%;
      text-align: center;

      h3 {
        font-size: 1.5rem;
      }

      p {
        padding: 0;
        text-align: center;
      }
    }
  }
}

.skills {
  background-color: #f8d4bb26;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;

  h3 {
    text-align: center;
    margin-bottom: 50px;
    color: $dark-color;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $grey-color;
      margin-bottom: 30px;
      width: 80px;

      .fab {
        font-size: 50px;
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: $tablet) {
    padding: 30px 0;

    h3 {
      font-size: 1rem;
    }

    &-list {
      li {
        width: 70px;

        .fab {
          font-size: 40px;
        }

        span {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.hobbies {
  margin: 10% 0;

  p {
    text-align: center;
    margin-bottom: 50px;
    color: $dark-color;
    font-size: 1.2rem;
  }

  &-photo {
    position: relative;

    .slider {
      display: flex;
      justify-content: space-evenly;
      height: 300px;

      &-btn-left,
      &-btn-right {
        position: absolute;
        top: 45%;
        padding: 8px;
        background: #f8d4bb26;
        color: $grey-color;
        font-size: 20px;
        border: none;
        display: flex;
        cursor: pointer;
      }

      &-btn-left {
        left: -5%;
      }

      &-btn-right {
        right: -5%;
      }
    }
  }

  @media (max-width: 1135px) {
    .slider {
      height: 250px;
    }
  }

  @media (max-width: $laptop) {
    .slider {
      height: 220px;
    }
  }

  @media (max-width: $tablet) {
    .slider {
      height: 400px;
      justify-content: center;

      &-img:nth-child(2),
      &-img:last-child {
        display: none;
      }
    }
  }

  @media (max-width: $mobile) {
    margin: 25% 0;

    p {
      font-size: 1rem;
    }

    &-photo {
      .slider {
        height: 300px;

        &-btn-left,
        &-btn-right {
          padding: 5px;
          font-size: 16px;
        }
      }
    }
  }
}
